$first_color: #d61818;
$second_color: #2ad41a;
$threeth_color: #3514c7; 

/* Background the first frame*/
.first {
    background-color: $first_color;
}

/* Background the second frame*/
.second {
    background-color: $second_color;
}

/* Background the threeth frame*/
.threeth {
    background-color: $threeth_color;
}

